<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit.DataGrid" version="3.5.0-dev4" targetFramework="net46" />
  <package id="HelixToolkit" version="2.20.2" targetFramework="net46" />
  <package id="HelixToolkit.Wpf" version="2.20.2" targetFramework="net46" />
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net46" />
</packages>