ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    BAP_01
    DATE-DMY 03/21/22
    ATTRIBUTE1  
    ATTRIBUTE2  BAP_01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  CONSTANTIA_Rev0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          30196.5151    3279.9453    4452.0678
END-POSITION-NULL
    CO-ORDS          33693.8861    1772.0985    3356.0043
INDUCTION-START
    CO-ORDS          30396.5151    2904.1787    4452.0678
    TEXT Induction Bend
BEND
    END-POINT        30396.5151    2904.1787    4452.0678    200.0000
    END-POINT        30196.5151    3104.1787    4452.0678    200.0000
    CENTRE-POINT     30196.5151    2904.1787    4452.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  200.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  13.226105
PIPE
    END-POINT        30196.5151    3104.1787    4452.0678    200.0000
    END-POINT        30196.5151    3279.9453    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  42.1
INDUCTION-END
    CO-ORDS          30196.5151    3279.9453    4452.0678
START-CO-ORDS      30196.5151          3279.9453          4452.0678
MESSAGE-ROUND
    CO-ORDS          30196.5151    3279.9453    4452.0678
    TEXT  CONNECTION@TO@APT
    UNDIMENSIONED
GASKET
    END-POINT        30396.5151    2904.1787    4452.0678    200.0000
    END-POINT        30399.5151    2904.1787    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-17983
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        30396.5151    2904.1787    4452.0678    200.0000  FL
    END-POINT        30396.5151    2904.1787    4452.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
WELD
    END-POINT        30396.5151    2904.1787    4452.0678    200.0000
    END-POINT        30396.5151    2904.1787    4452.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        30399.5151    2904.1787    4452.0678    200.0000
    END-POINT        30625.2562    2904.1787    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  42.1
WELD
    END-POINT        30399.5151    2904.1787    4452.0678    200.0000
    END-POINT        30399.5151    2904.1787    4452.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        30399.5151    2904.1787    4452.0678    200.0000  FL
    END-POINT        30399.5151    2904.1787    4452.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
GASKET
    END-POINT        30628.2562    2904.1787    4452.0678    200.0000
    END-POINT        30625.2562    2904.1787    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-17983
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        30625.2562    2904.1787    4452.0678    200.0000  FL
    END-POINT        30625.2562    2904.1787    4452.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
WELD
    END-POINT        30625.2562    2904.1787    4452.0678    200.0000
    END-POINT        30625.2562    2904.1787    4452.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        30628.2562    2904.1787    4452.0678    200.0000  FL
    END-POINT        30688.2562    2904.1787    4452.0678    200.0000  FL
    SKEY  VYFL
    ITEM-CODE  CONSTANTIA_Rev0-24567
    ITEM-DESCRIPTION  BUTTERFLY VALVE, STAINLESS STEEL, 5K, FF, JIS
    FABRICATION-ITEM
    TAG  BT-001
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STAINLESS STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_BUTTERFLY VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    SPINDLE-DIRECTION  DOWN
    DIRECTION  DOWN
GASKET
    END-POINT        30688.2562    2904.1787    4452.0678    200.0000
    END-POINT        30691.2562    2904.1787    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-17983
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
INDUCTION-START
    CO-ORDS          31077.7511    2769.2675    4452.0678
    TEXT Induction Bend
PIPE
    END-POINT        31077.7511    2769.2675    4452.0678    200.0000
    END-POINT        31001.4186    2845.6001    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  42.1
BEND
    END-POINT        31001.4186    2845.6001    4452.0678    200.0000
    END-POINT        30859.9972    2904.1787    4452.0678    200.0000
    CENTRE-POINT     30942.8400    2904.1787    4452.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   4500
    BEND-RADIUS  200.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  6.613053
PIPE
    END-POINT        30859.9972    2904.1787    4452.0678    200.0000
    END-POINT        30691.2562    2904.1787    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  42.1
INDUCTION-END
    CO-ORDS          30691.2562    2904.1787    4452.0678
WELD
    END-POINT        30691.2562    2904.1787    4452.0678    200.0000
    END-POINT        30691.2562    2904.1787    4452.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        30691.2562    2904.1787    4452.0678    200.0000  FL
    END-POINT        30691.2562    2904.1787    4452.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
GASKET
    END-POINT        31079.8725    2767.1462    4452.0678    200.0000
    END-POINT        31077.7511    2769.2675    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-17983
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        31077.7511    2769.2675    4452.0678    200.0000  FL
    END-POINT        31077.7511    2769.2675    4452.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
WELD
    END-POINT        31077.7511    2769.2675    4452.0678    200.0000
    END-POINT        31077.7511    2769.2675    4452.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        31079.8725    2767.1462    4452.0678    200.0000
    END-POINT        31079.8725    2767.1462    4452.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        31079.8725    2767.1462    4452.0678    200.0000  FL
    END-POINT        31079.8725    2767.1462    4452.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
INDUCTION-START
    CO-ORDS          32063.4689    2630.1137    4498.4235
    TEXT Induction Bend
BEND
    END-POINT        32063.4689    2630.1137    4498.4235    200.0000
    END-POINT        31935.4321    2630.1137    4452.0678    200.0000
    CENTRE-POINT     32007.8420    2630.1137    4452.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   3981
    BEND-RADIUS  200.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  5.849696
PIPE
    END-POINT        31935.4321    2630.1137    4452.0678    200.0000
    END-POINT        31299.7477    2630.1137    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  42.1
BEND
    END-POINT        31299.7477    2630.1137    4452.0678    200.0000
    END-POINT        31158.3263    2688.6924    4452.0678    200.0000
    CENTRE-POINT     31216.9050    2630.1137    4452.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   4500
    BEND-RADIUS  200.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  6.613053
PIPE
    END-POINT        31158.3263    2688.6924    4452.0678    200.0000
    END-POINT        31079.8725    2767.1462    4452.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  42.1
INDUCTION-END
    CO-ORDS          31079.8725    2767.1462    4452.0678
FLANGE
    END-POINT        32063.4689    2630.1137    4498.4235    200.0000  FL
    END-POINT        32063.4689    2630.1137    4498.4235    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
WELD
    END-POINT        32063.4689    2630.1137    4498.4235    200.0000
    END-POINT        32063.4689    2630.1137    4498.4235    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        32063.4689    2630.1137    4498.4235    200.0000
    END-POINT        32065.7736    2630.1137    4500.3441    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-17983
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
INDUCTION-START
    CO-ORDS          32065.7736    2630.1137    4500.3441
    TEXT Induction Bend
PIPE
    END-POINT        32065.7736    2630.1137    4500.3441    200.0000
    END-POINT        32154.1978    2630.1137    4574.0309    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  42.1
BEND
    END-POINT        32154.1978    2630.1137    4574.0309    200.0000
    END-POINT        32307.8420    2430.1137    4702.0678    200.0000
    CENTRE-POINT     32307.8420    2630.1137    4702.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  200.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  13.226105
PIPE
    END-POINT        32307.8420    2430.1137    4702.0678    200.0000
    END-POINT        32307.8420    2025.0985    4702.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  42.1
INDUCTION-END
    CO-ORDS          32307.8420    2025.0985    4702.0678
WELD
    END-POINT        32065.7736    2630.1137    4500.3441    200.0000
    END-POINT        32065.7736    2630.1137    4500.3441    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        32065.7736    2630.1137    4500.3441    200.0000  FL
    END-POINT        32065.7736    2630.1137    4500.3441    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
INDUCTION-START
    CO-ORDS          32307.8420    2022.0985    4702.0678
    TEXT Induction Bend
BEND
    END-POINT        32307.8420    2022.0985    4702.0678    200.0000
    END-POINT        32557.8420    1772.0985    4702.0678    200.0000
    CENTRE-POINT     32307.8420    1772.0985    4702.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16.532631
PIPE
    END-POINT        32557.8420    1772.0985    4702.0678    200.0000
    END-POINT        33010.6861    1772.0985    4702.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-19325
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  42.1
INDUCTION-END
    CO-ORDS          33010.6861    1772.0985    4702.0678
WELD
    END-POINT        32307.8420    2022.0985    4702.0678    200.0000
    END-POINT        32307.8420    2022.0985    4702.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        32307.8420    2022.0985    4702.0678    200.0000  FL
    END-POINT        32307.8420    2022.0985    4702.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
GASKET
    END-POINT        32307.8420    2025.0985    4702.0678    200.0000
    END-POINT        32307.8420    2022.0985    4702.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-17983
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        32307.8420    2025.0985    4702.0678    200.0000  FL
    END-POINT        32307.8420    2025.0985    4702.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
WELD
    END-POINT        32307.8420    2025.0985    4702.0678    200.0000
    END-POINT        32307.8420    2025.0985    4702.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        33013.6861    1772.0985    4702.0678    200.0000
    END-POINT        33010.6861    1772.0985    4702.0678    200.0000
    ITEM-CODE  CONSTANTIA_Rev0-17983
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        33010.6861    1772.0985    4702.0678    200.0000  FL
    END-POINT        33010.6861    1772.0985    4702.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
WELD
    END-POINT        33010.6861    1772.0985    4702.0678    200.0000
    END-POINT        33010.6861    1772.0985    4702.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        33343.8861    1772.0985    4702.0678    350.0000  BW
    END-POINT        33013.6861    1772.0985    4702.0678    200.0000  BW
    SKEY  RCBW
    ITEM-CODE  CONSTANTIA_Rev0-20895
    ITEM-DESCRIPTION  REDUCER (CONC), JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_REDUCER (CONC)
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
    WEIGHT  21.6
WELD
    END-POINT        33013.6861    1772.0985    4702.0678    200.0000
    END-POINT        33013.6861    1772.0985    4702.0678    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        33013.6861    1772.0985    4702.0678    200.0000  FL
    END-POINT        33013.6861    1772.0985    4702.0678    200.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18325
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN200, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  6.33
BEND
    END-POINT        33693.8861    1772.0985    4352.0678    350.0000  PL
    END-POINT        33343.8861    1772.0985    4702.0678    350.0000  PL
    CENTRE-POINT     33693.8861    1772.0985    4702.0678
    SKEY  PBBW
    ITEM-CODE  CONSTANTIA_Rev0-19331-9000
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  350.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  44.532076
WELD
    END-POINT        33343.8861    1772.0985    4702.0678    350.0000
    END-POINT        33343.8861    1772.0985    4702.0678    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        33693.8861    1772.0985    4349.0678    350.0000
    END-POINT        33693.8861    1772.0985    3356.0043    350.0000
    ITEM-CODE  CONSTANTIA_Rev0-19331
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  81
WELD
    END-POINT        33693.8861    1772.0985    4349.0678    350.0000
    END-POINT        33693.8861    1772.0985    4349.0678    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        33693.8861    1772.0985    4349.0678    350.0000  FL
    END-POINT        33693.8861    1772.0985    4349.0678    350.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18331
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
GASKET
    END-POINT        33693.8861    1772.0985    4349.0678    350.0000
    END-POINT        33693.8861    1772.0985    4352.0678    350.0000
    ITEM-CODE  CONSTANTIA_Rev0-17991
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
FLANGE
    END-POINT        33693.8861    1772.0985    4352.0678    350.0000  FL
    END-POINT        33693.8861    1772.0985    4352.0678    350.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18331
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN350, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  14
WELD
    END-POINT        33693.8861    1772.0985    4352.0678    350.0000
    END-POINT        33693.8861    1772.0985    4352.0678    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  CONSTANTIA_Rev0-19331
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-350
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  CONSTANTIA_Rev0-18331
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN350, 5K, JIS
ITEM-CODE  CONSTANTIA_Rev0-17991
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  CONSTANTIA_Rev0-20895
    DESCRIPTION  REDUCER (CONC), JIS
    Schedule  
    PressureClass  
    Material  
    ShortDescription  REDUCER (CONC)
ITEM-CODE  Buttweld-200
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  CONSTANTIA_Rev0-18325
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN200, 5K, JIS
ITEM-CODE  CONSTANTIA_Rev0-17983
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  CONSTANTIA_Rev0-19325
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  CONSTANTIA_Rev0-24567
    DESCRIPTION  BUTTERFLY VALVE, STAINLESS STEEL, 5K, FF, JIS
    Schedule  
    PressureClass  5
    Material  STAINLESS STEEL
    ShortDescription  BUTTERFLY VALVE