ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    FAL_01
    DATE-DMY 03/21/22
    ATTRIBUTE1  
    ATTRIBUTE2  FAL_01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  CONSTANTIA_Rev0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          29846.5151    3279.9453    4452.0678
WELD
    END-POINT        29846.5151    3579.9453    4799.0678    100.0000
    END-POINT        29846.5151    3579.9453    4799.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        29846.5151    3579.9453    4799.0678    100.0000  FL
    END-POINT        29846.5151    3579.9453    4799.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        29846.5151    3579.9453    4799.0678    100.0000
    END-POINT        29846.5151    3579.9453    4802.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
INDUCTION-START
    CO-ORDS          29846.5151    3479.9453    4152.0678
    TEXT Induction Bend
BEND
    END-POINT        29846.5151    3479.9453    4152.0678    100.0000
    END-POINT        29846.5151    3579.9453    4252.0678    100.0000
    CENTRE-POINT     29846.5151    3579.9453    4152.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        29846.5151    3579.9453    4252.0678    100.0000
    END-POINT        29846.5151    3579.9453    4799.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          29846.5151    3579.9453    4799.0678
FLANGE
    END-POINT        29846.5151    3579.9453    4802.0678    100.0000  FL
    END-POINT        29846.5151    3579.9453    4802.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29846.5151    3579.9453    4802.0678    100.0000
    END-POINT        29846.5151    3579.9453    4802.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          29846.5151    3579.9453    4802.0678
    TEXT Induction Bend
BEND
    END-POINT        29846.5151    3579.9453    4802.0678    100.0000
    END-POINT        29846.5151    3679.9453    4902.0678    100.0000
    CENTRE-POINT     29846.5151    3579.9453    4902.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        29846.5151    3679.9453    4902.0678    100.0000
    END-POINT        29846.5151    4968.8917    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          29846.5151    4968.8917    4902.0678
GASKET
    END-POINT        29846.5151    3476.9453    4152.0678    100.0000
    END-POINT        29846.5151    3479.9453    4152.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29846.5151    3479.9453    4152.0678    100.0000  FL
    END-POINT        29846.5151    3479.9453    4152.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29846.5151    3479.9453    4152.0678    100.0000
    END-POINT        29846.5151    3479.9453    4152.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          29846.5151    3476.9453    4152.0678
    TEXT Induction Bend
PIPE
    END-POINT        29846.5151    3476.9453    4152.0678    100.0000
    END-POINT        29846.5151    3379.9453    4152.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        29846.5151    3379.9453    4152.0678    100.0000
    END-POINT        29846.5151    3279.9453    4252.0678    100.0000
    CENTRE-POINT     29846.5151    3279.9453    4152.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        29846.5151    3279.9453    4252.0678    100.0000
    END-POINT        29846.5151    3279.9453    4452.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          29846.5151    3279.9453    4452.0678
START-CO-ORDS      29846.5151          3279.9453          4452.0678
MESSAGE-ROUND
    CO-ORDS          29846.5151    3279.9453    4452.0678
    TEXT  CONNECTION@TO$APT@LINE
    UNDIMENSIONED
WELD
    END-POINT        29846.5151    3476.9453    4152.0678    100.0000
    END-POINT        29846.5151    3476.9453    4152.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        29846.5151    3476.9453    4152.0678    100.0000  FL
    END-POINT        29846.5151    3476.9453    4152.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
PIPE
    END-POINT        29846.5151    4971.8917    4902.0678    100.0000
    END-POINT        29846.5151    6263.8381    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        29846.5151    6263.8381    4902.0678    100.0000
    END-POINT        29846.5151    6263.8381    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        29846.5151    6263.8381    4902.0678    100.0000  FL
    END-POINT        29846.5151    6263.8381    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        29846.5151    6263.8381    4902.0678    100.0000
    END-POINT        29846.5151    6266.8381    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29846.5151    6266.8381    4902.0678    100.0000  FL
    END-POINT        29846.5151    6266.8381    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29846.5151    6266.8381    4902.0678    100.0000
    END-POINT        29846.5151    6266.8381    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          29846.5151    6266.8381    4902.0678
    TEXT Induction Bend
BEND
    END-POINT        29846.5151    6266.8381    4902.0678    100.0000
    END-POINT        29946.5151    6366.8381    4902.0678    100.0000
    CENTRE-POINT     29846.5151    6366.8381    4902.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        29946.5151    6366.8381    4902.0678    100.0000
    END-POINT        31824.4683    6366.8381    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          31824.4683    6366.8381    4902.0678
WELD
    END-POINT        29846.5151    4968.8917    4902.0678    100.0000
    END-POINT        29846.5151    4968.8917    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        29846.5151    4968.8917    4902.0678    100.0000  FL
    END-POINT        29846.5151    4968.8917    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        29846.5151    4971.8917    4902.0678    100.0000
    END-POINT        29846.5151    4968.8917    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29846.5151    4971.8917    4902.0678    100.0000  FL
    END-POINT        29846.5151    4971.8917    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29846.5151    4971.8917    4902.0678    100.0000
    END-POINT        29846.5151    4971.8917    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        31824.4683    6366.8381    4902.0678    100.0000
    END-POINT        31824.4683    6366.8381    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        31824.4683    6366.8381    4902.0678    100.0000  FL
    END-POINT        31824.4683    6366.8381    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        31827.4683    6366.8381    4902.0678    100.0000
    END-POINT        31824.4683    6366.8381    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        31827.4683    6366.8381    4902.0678    100.0000  FL
    END-POINT        31827.4683    6366.8381    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        31827.4683    6366.8381    4902.0678    100.0000
    END-POINT        31827.4683    6366.8381    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        31827.4683    6366.8381    4902.0678    100.0000
    END-POINT        33708.4216    6366.8381    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        33708.4216    6366.8381    4902.0678    100.0000
    END-POINT        33708.4216    6366.8381    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        33708.4216    6366.8381    4902.0678    100.0000  FL
    END-POINT        33708.4216    6366.8381    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        33708.4216    6366.8381    4902.0678    100.0000
    END-POINT        33711.4216    6366.8381    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        33711.4216    6366.8381    4902.0678    100.0000  FL
    END-POINT        33711.4216    6366.8381    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        33711.4216    6366.8381    4902.0678    100.0000
    END-POINT        33711.4216    6366.8381    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          33711.4216    6366.8381    4902.0678
    TEXT Induction Bend
BEND
    END-POINT        33711.4216    6366.8381    4902.0678    100.0000
    END-POINT        33811.4216    6466.8381    4902.0678    100.0000
    CENTRE-POINT     33811.4216    6366.8381    4902.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        33811.4216    6466.8381    4902.0678    100.0000
    END-POINT        33811.4216    7454.5445    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          33811.4216    7454.5445    4902.0678
WELD
    END-POINT        33811.4216    7454.5445    4902.0678    100.0000
    END-POINT        33811.4216    7454.5445    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        33811.4216    7454.5445    4902.0678    100.0000  FL
    END-POINT        33811.4216    7454.5445    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        33811.4216    7457.5445    4902.0678    100.0000
    END-POINT        33811.4216    7454.5445    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        33811.4216    7457.5445    4902.0678    100.0000  FL
    END-POINT        33811.4216    7457.5445    4902.0678    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        33811.4216    7457.5445    4902.0678    100.0000
    END-POINT        33811.4216    7457.5445    4902.0678    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          33811.4216    7599.3258    5842.0352
    TEXT Induction Bend
PIPE
    END-POINT        33811.4216    7599.3258    5842.0352    100.0000
    END-POINT        33811.4216    7599.3258    5002.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        33811.4216    7599.3258    5002.0678    100.0000
    END-POINT        33811.4216    7499.3258    4902.0678    100.0000
    CENTRE-POINT     33811.4216    7599.3258    4902.0678
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        33811.4216    7499.3258    4902.0678    100.0000
    END-POINT        33811.4216    7457.5445    4902.0678    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          33811.4216    7457.5445    4902.0678
WELD
    END-POINT        33811.4216    7599.3258    5842.0352    100.0000
    END-POINT        33811.4216    7599.3258    5842.0352    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        33811.4216    7599.3258    5842.0352    100.0000  FL
    END-POINT        33811.4216    7599.3258    5842.0352    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        33811.4216    7599.3258    5842.0352    100.0000
    END-POINT        33811.4216    7599.3258    5845.0352    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        33811.4216    7599.3258    5845.0352    100.0000  FL
    END-POINT        33811.4216    7599.3258    5845.0352    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        33811.4216    7599.3258    5845.0352    100.0000
    END-POINT        33811.4216    7599.3258    5845.0352    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        33811.4216    7599.3258    6179.0027    100.0000
    END-POINT        33811.4216    7599.3258    5845.0352    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
VALVE
    END-POINT        33811.4216    7599.3258    6532.0027    100.0000  FL
    END-POINT        33811.4216    7599.3258    6182.0027    100.0000  FL
    SKEY  VGFL
    ITEM-CODE  CONSTANTIA_Rev0-24725
    ITEM-DESCRIPTION  GLOBE VALVE, 10K, FF, JIS F7400
    FABRICATION-ITEM
    TAG  BT-013
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_BRONZE
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GLOBE VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  48.7
    SPINDLE-DIRECTION  WEST
    DIRECTION  WEST
GASKET
    END-POINT        33811.4216    7599.3258    6532.0027    100.0000
    END-POINT        33811.4216    7599.3258    6535.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        33811.4216    7599.3258    6535.0027    100.0000  FL
    END-POINT        33811.4216    7599.3258    6535.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        33811.4216    7599.3258    6535.0027    100.0000
    END-POINT        33811.4216    7599.3258    6535.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        33811.4216    7599.3258    6682.0027    100.0000
    END-POINT        33811.4216    7599.3258    6535.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        33811.4216    7599.3258    6682.0027    100.0000
    END-POINT        33811.4216    7599.3258    6682.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        33811.4216    7599.3258    6682.0027    100.0000  FL
    END-POINT        33811.4216    7599.3258    6682.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        33811.4216    7599.3258    6682.0027    100.0000
    END-POINT        33811.4216    7599.3258    6685.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        33811.4216    7599.3258    6685.0027    100.0000  FL
    END-POINT        33811.4216    7599.3258    6685.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        33811.4216    7599.3258    6685.0027    100.0000
    END-POINT        33811.4216    7599.3258    6685.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          33811.4216    7599.3258    6685.0027
    TEXT Induction Bend
BEND
    END-POINT        33811.4216    7599.3258    6685.0027    100.0000
    END-POINT        33911.4216    7599.3258    6785.0027    100.0000
    CENTRE-POINT     33811.4216    7599.3258    6785.0027
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        33911.4216    7599.3258    6785.0027    100.0000
    END-POINT        34751.5225    7599.3258    6785.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          34751.5225    7599.3258    6785.0027
WELD
    END-POINT        33811.4216    7599.3258    6179.0027    100.0000
    END-POINT        33811.4216    7599.3258    6179.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        33811.4216    7599.3258    6179.0027    100.0000  FL
    END-POINT        33811.4216    7599.3258    6179.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        33811.4216    7599.3258    6182.0027    100.0000
    END-POINT        33811.4216    7599.3258    6179.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
WELD
    END-POINT        34751.5225    7599.3258    6785.0027    100.0000
    END-POINT        34751.5225    7599.3258    6785.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        34751.5225    7599.3258    6785.0027    100.0000  FL
    END-POINT        34751.5225    7599.3258    6785.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        34754.5225    7599.3258    6785.0027    100.0000
    END-POINT        34751.5225    7599.3258    6785.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        34754.5225    7599.3258    6785.0027    100.0000  FL
    END-POINT        34754.5225    7599.3258    6785.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        34754.5225    7599.3258    6785.0027    100.0000
    END-POINT        34754.5225    7599.3258    6785.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          34880.5761    7599.3258    7256.0027
    TEXT Induction Bend
PIPE
    END-POINT        34880.5761    7599.3258    7256.0027    100.0000
    END-POINT        34880.5761    7599.3258    6885.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        34880.5761    7599.3258    6885.0027    100.0000
    END-POINT        34780.5761    7599.3258    6785.0027    100.0000
    CENTRE-POINT     34880.5761    7599.3258    6785.0027
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        34780.5761    7599.3258    6785.0027    100.0000
    END-POINT        34754.5225    7599.3258    6785.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          34754.5225    7599.3258    6785.0027
WELD
    END-POINT        34880.5761    7599.3258    7256.0027    100.0000
    END-POINT        34880.5761    7599.3258    7256.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        34880.5761    7599.3258    7256.0027    100.0000  FL
    END-POINT        34880.5761    7599.3258    7256.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        34880.5761    7599.3258    7259.0027    100.0000
    END-POINT        34880.5761    7599.3258    7256.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
VALVE
    END-POINT        34880.5761    7599.3258    7311.0027    100.0000  FL
    END-POINT        34880.5761    7599.3258    7259.0027    100.0000  FL
    SKEY  VCFL
    ITEM-CODE  CONSTANTIA_Rev0-24821
    ITEM-DESCRIPTION  CHECK VALVE, 10K, JIS B 2031
    FABRICATION-ITEM
    TAG  BT-015
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_CHECK VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  5.5
    FLOW  1
GASKET
    END-POINT        34880.5761    7599.3258    7311.0027    100.0000
    END-POINT        34880.5761    7599.3258    7314.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        34880.5761    7599.3258    7314.0027    100.0000  FL
    END-POINT        34880.5761    7599.3258    7314.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        34880.5761    7599.3258    7314.0027    100.0000
    END-POINT        34880.5761    7599.3258    7314.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          34880.5761    7799.3258    7515.0027
    TEXT Induction Bend
PIPE
    END-POINT        34880.5761    7799.3258    7515.0027    100.0000
    END-POINT        34880.5761    7699.3258    7515.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        34880.5761    7699.3258    7515.0027    100.0000
    END-POINT        34880.5761    7599.3258    7415.0027    100.0000
    CENTRE-POINT     34880.5761    7599.3258    7515.0027
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        34880.5761    7599.3258    7415.0027    100.0000
    END-POINT        34880.5761    7599.3258    7314.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          34880.5761    7599.3258    7314.0027
WELD
    END-POINT        34880.5761    7799.3258    7515.0027    100.0000
    END-POINT        34880.5761    7799.3258    7515.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        34880.5761    7799.3258    7515.0027    100.0000  FL
    END-POINT        34880.5761    7799.3258    7515.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
MESSAGE-ROUND
    CO-ORDS          34880.5761    7799.3258    7515.0027
    TEXT  S5:SEA@WATER@FROM@APT$CS-SCH40-JIS-10K-100A
    UNDIMENSIONED
MATERIALS
ITEM-CODE  CONSTANTIA_Rev0-19319
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-100
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  CONSTANTIA_Rev0-18375
    DESCRIPTION  FLANGE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN100, 10K, JIS
ITEM-CODE  CONSTANTIA_Rev0-17634
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  CONSTANTIA_Rev0-24725
    DESCRIPTION  GLOBE VALVE, 10K, FF, JIS F7400
    Schedule  
    PressureClass  10
    Material  BRONZE
    ShortDescription  GLOBE VALVE
ITEM-CODE  CONSTANTIA_Rev0-24821
    DESCRIPTION  CHECK VALVE, 10K, JIS B 2031
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  CHECK VALVE