ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    FSC_01
    DATE-DMY 03/21/22
    ATTRIBUTE1  
    ATTRIBUTE2  FSC_01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  CONSTANTIA_Rev0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          33242.2384    9129.3258    5115.0027
PIPE
    END-POINT        33242.2384    9129.3258    6009.0027    100.0000
    END-POINT        33242.2384    9129.3258    5115.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
START-CO-ORDS      33242.2384          9129.3258          5115.0027
MESSAGE-ROUND
    CO-ORDS          33242.2384    9129.3258    5115.0027
    TEXT  CONNECTION@TO$SEA@CHEST
    UNDIMENSIONED
VALVE
    END-POINT        33242.2384    9129.3258    6362.0027    100.0000  FL
    END-POINT        33242.2384    9129.3258    6012.0027    100.0000  FL
    SKEY  VGFL
    ITEM-CODE  CONSTANTIA_Rev0-24725
    ITEM-DESCRIPTION  GLOBE VALVE, 10K, FF, JIS F7400
    FABRICATION-ITEM
    TAG  BT-014
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_BRONZE
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GLOBE VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  48.7
    SPINDLE-DIRECTION  WEST
    DIRECTION  WEST 14 NORTH
FLANGE
    END-POINT        33242.2384    9129.3258    6512.0027    100.0000  FL
    END-POINT        33242.2384    9129.3258    6512.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        33242.2384    9129.3258    6012.0027    100.0000
    END-POINT        33242.2384    9129.3258    6009.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        33242.2384    9129.3258    6009.0027    100.0000  FL
    END-POINT        33242.2384    9129.3258    6009.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        33242.2384    9129.3258    6009.0027    100.0000
    END-POINT        33242.2384    9129.3258    6009.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        33242.2384    9129.3258    6362.0027    100.0000
    END-POINT        33242.2384    9129.3258    6365.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
PIPE
    END-POINT        33242.2384    9129.3258    6512.0027    100.0000
    END-POINT        33242.2384    9129.3258    6365.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        33242.2384    9129.3258    6365.0027    100.0000
    END-POINT        33242.2384    9129.3258    6365.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        33242.2384    9129.3258    6365.0027    100.0000  FL
    END-POINT        33242.2384    9129.3258    6365.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        33242.2384    9129.3258    6512.0027    100.0000
    END-POINT        33242.2384    9129.3258    6515.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
WELD
    END-POINT        33242.2384    9129.3258    6512.0027    100.0000
    END-POINT        33242.2384    9129.3258    6512.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          34777.5761    9129.3258    6615.0027
    TEXT Induction Bend
PIPE
    END-POINT        34777.5761    9129.3258    6615.0027    100.0000
    END-POINT        33342.2384    9129.3258    6615.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        33342.2384    9129.3258    6615.0027    100.0000
    END-POINT        33242.2384    9129.3258    6515.0027    100.0000
    CENTRE-POINT     33242.2384    9129.3258    6615.0027
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
INDUCTION-END
    CO-ORDS          33242.2384    9129.3258    6515.0027
WELD
    END-POINT        33242.2384    9129.3258    6515.0027    100.0000
    END-POINT        33242.2384    9129.3258    6515.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        33242.2384    9129.3258    6515.0027    100.0000  FL
    END-POINT        33242.2384    9129.3258    6515.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        34777.5761    9129.3258    6615.0027    100.0000
    END-POINT        34777.5761    9129.3258    6615.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        34777.5761    9129.3258    6615.0027    100.0000
    END-POINT        34780.5761    9129.3258    6615.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        34777.5761    9129.3258    6615.0027    100.0000  FL
    END-POINT        34777.5761    9129.3258    6615.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
FLANGE
    END-POINT        34780.5761    9129.3258    6615.0027    100.0000  FL
    END-POINT        34780.5761    9129.3258    6615.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        34780.5761    9129.3258    6615.0027    100.0000
    END-POINT        34780.5761    9129.3258    6615.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          34780.5761    9129.3258    6615.0027
    TEXT Induction Bend
BEND
    END-POINT        34780.5761    9129.3258    6615.0027    100.0000
    END-POINT        34880.5761    9174.0471    6704.4454    100.0000
    CENTRE-POINT     34880.5761    9129.3258    6615.0027
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        34880.5761    9174.0471    6704.4454    100.0000
    END-POINT        34880.5761    9218.7685    6793.8881    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        34880.5761    9218.7685    6793.8881    100.0000
    END-POINT        34880.5761    9229.3258    6838.6095    100.0000
    CENTRE-POINT     34880.5761    9229.3258    6815.0027
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   2657
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  0.741836
PIPE
    END-POINT        34880.5761    9229.3258    6838.6095    100.0000
    END-POINT        34880.5761    9229.3258    7260.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          34880.5761    9229.3258    7260.0027
VALVE
    END-POINT        34880.5761    9229.3258    7263.0027    100.0000  FL
    END-POINT        34880.5761    9229.3258    7315.0027    100.0000  FL
    SKEY  VCFL
    ITEM-CODE  CONSTANTIA_Rev0-24821
    ITEM-DESCRIPTION  CHECK VALVE, 10K, JIS B 2031
    FABRICATION-ITEM
    TAG  BT-016
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_CHECK VALVE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  5.5
    FLOW  1
INDUCTION-START
    CO-ORDS          34880.5761    9229.3258    7318.0027
    TEXT Induction Bend
PIPE
    END-POINT        34880.5761    9229.3258    7318.0027    100.0000
    END-POINT        34880.5761    9229.3258    7415.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        34880.5761    9229.3258    7415.0027    100.0000
    END-POINT        34880.5761    9129.3258    7515.0027    100.0000
    CENTRE-POINT     34880.5761    9229.3258    7515.0027
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        34880.5761    9129.3258    7515.0027    100.0000
    END-POINT        34880.5761    9029.3258    7515.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          34880.5761    9029.3258    7515.0027
WELD
    END-POINT        34880.5761    9029.3258    7515.0027    100.0000
    END-POINT        34880.5761    9029.3258    7515.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        34880.5761    9029.3258    7515.0027    100.0000  FL
    END-POINT        34880.5761    9029.3258    7515.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
MESSAGE-ROUND
    CO-ORDS          34880.5761    9029.3258    7515.0027
    TEXT  CONNCETION@FROM@SEA@CHEST$CS-SCH40-JIS-10K-100A
    UNDIMENSIONED
WELD
    END-POINT        34880.5761    9229.3258    7260.0027    100.0000
    END-POINT        34880.5761    9229.3258    7260.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        34880.5761    9229.3258    7260.0027    100.0000  FL
    END-POINT        34880.5761    9229.3258    7260.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        34880.5761    9229.3258    7260.0027    100.0000
    END-POINT        34880.5761    9229.3258    7263.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
GASKET
    END-POINT        34880.5761    9229.3258    7318.0027    100.0000
    END-POINT        34880.5761    9229.3258    7315.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        34880.5761    9229.3258    7318.0027    100.0000  FL
    END-POINT        34880.5761    9229.3258    7318.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        34880.5761    9229.3258    7318.0027    100.0000
    END-POINT        34880.5761    9229.3258    7318.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  CONSTANTIA_Rev0-19319
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-100
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  CONSTANTIA_Rev0-18375
    DESCRIPTION  FLANGE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN100, 10K, JIS
ITEM-CODE  CONSTANTIA_Rev0-17634
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET
ITEM-CODE  CONSTANTIA_Rev0-24821
    DESCRIPTION  CHECK VALVE, 10K, JIS B 2031
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  CHECK VALVE
ITEM-CODE  CONSTANTIA_Rev0-24725
    DESCRIPTION  GLOBE VALVE, 10K, FF, JIS F7400
    Schedule  
    PressureClass  10
    Material  BRONZE
    ShortDescription  GLOBE VALVE