ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    FWL_01
    DATE-DMY 03/21/22
    ATTRIBUTE1  
    ATTRIBUTE2  FWL_01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  CONSTANTIA_Rev0
    INSULATION-SPEC  
    TRACING-SPEC  
PIPE
    END-POINT        29755.2185    8252.0633    21204.0075    100.0000
    END-POINT        29755.2185    5752.0633    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        29755.2185    8252.0633    21204.0075    100.0000
    END-POINT        29755.2185    8252.0633    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        29755.2185    8252.0633    21204.0075    100.0000  FL
    END-POINT        29755.2185    8252.0633    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        29755.2185    8252.0633    21204.0075    100.0000
    END-POINT        29755.2185    8255.0633    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29755.2185    8255.0633    21204.0075    100.0000  FL
    END-POINT        29755.2185    8255.0633    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29755.2185    8255.0633    21204.0075    100.0000
    END-POINT        29755.2185    8255.0633    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        29755.2185    10252.0633    21204.0075    100.0000
    END-POINT        29755.2185    8255.0633    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        29755.2185    10252.0633    21204.0075    100.0000
    END-POINT        29755.2185    10252.0633    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        29755.2185    10252.0633    21204.0075    100.0000
    END-POINT        29755.2185    10255.0633    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29755.2185    10255.0633    21204.0075    100.0000  FL
    END-POINT        29755.2185    10255.0633    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29755.2185    10255.0633    21204.0075    100.0000
    END-POINT        29755.2185    10255.0633    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          29755.2185    10255.0633    21204.0075
    TEXT Induction Bend
PIPE
    END-POINT        29755.2185    10255.0633    21204.0075    100.0000
    END-POINT        29755.2185    10652.0633    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        29755.2185    10652.0633    21204.0075    100.0000
    END-POINT        29755.2185    10752.0633    21104.0075    100.0000
    CENTRE-POINT     29755.2185    10752.0633    21204.0075
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        29755.2185    10752.0633    21104.0075    100.0000
    END-POINT        29755.2185    10752.0633    20804.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          29755.2185    10752.0633    20804.0075
INDUCTION-START
    CO-ORDS          29878.8769    4961.7415    21204.0075
    TEXT Induction Bend
PIPE
    END-POINT        29878.8769    4961.7415    21204.0075    100.0000
    END-POINT        29776.3331    5166.8291    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        29776.3331    5166.8291    21204.0075    100.0000
    END-POINT        29755.2185    5256.2719    21204.0075    100.0000
    CENTRE-POINT     29755.2185    5209.0583    21204.0075
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   2657
    BEND-RADIUS  200.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  1.483672
PIPE
    END-POINT        29755.2185    5256.2719    21204.0075    100.0000
    END-POINT        29755.2185    5749.0633    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          29755.2185    5749.0633    21204.0075
WELD
    END-POINT        29755.2185    5749.0633    21204.0075    100.0000
    END-POINT        29755.2185    5749.0633    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        29755.2185    5749.0633    21204.0075    100.0000  FL
    END-POINT        29755.2185    5749.0633    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        29755.2185    5752.0633    21204.0075    100.0000
    END-POINT        29755.2185    5749.0633    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29755.2185    5752.0633    21204.0075    100.0000  FL
    END-POINT        29755.2185    5752.0633    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29755.2185    5752.0633    21204.0075    100.0000
    END-POINT        29755.2185    5752.0633    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        29755.2185    10252.0633    21204.0075    100.0000  FL
    END-POINT        29755.2185    10252.0633    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        29755.2185    10752.0633    20804.0075    100.0000
    END-POINT        29755.2185    10752.0633    20801.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29755.2185    10752.0633    20801.0075    100.0000  FL
    END-POINT        29755.2185    10752.0633    20801.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29755.2185    10752.0633    20801.0075    100.0000
    END-POINT        29755.2185    10752.0633    20801.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        29755.2185    10752.0633    19345.0062    100.0000
    END-POINT        29755.2185    10752.0633    20801.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        29755.2185    10752.0633    20804.0075    100.0000
    END-POINT        29755.2185    10752.0633    20804.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        29755.2185    10752.0633    20804.0075    100.0000  FL
    END-POINT        29755.2185    10752.0633    20804.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        29755.2185    10752.0633    19345.0062    100.0000
    END-POINT        29755.2185    10752.0633    19342.0062    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29755.2185    10752.0633    19342.0062    100.0000  FL
    END-POINT        29755.2185    10752.0633    19342.0062    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29755.2185    10752.0633    19342.0062    100.0000
    END-POINT        29755.2185    10752.0633    19342.0062    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          29755.2185    10752.0633    19342.0062
    TEXT Induction Bend
PIPE
    END-POINT        29755.2185    10752.0633    19342.0062    100.0000
    END-POINT        29755.2185    10752.0633    19145.0062    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        29755.2185    10752.0633    19145.0062    100.0000
    END-POINT        29855.2185    10752.0633    19045.0062    100.0000
    CENTRE-POINT     29755.2185    10752.0633    19045.0062
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        29855.2185    10752.0633    19045.0062    100.0000
    END-POINT        29944.6434    10752.0633    19045.0062    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          29944.6434    10752.0633    19045.0062
WELD
    END-POINT        29755.2185    10752.0633    19345.0062    100.0000
    END-POINT        29755.2185    10752.0633    19345.0062    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        29755.2185    10752.0633    19345.0062    100.0000  FL
    END-POINT        29755.2185    10752.0633    19345.0062    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        29880.2185    4959.0583    21204.0075    100.0000
    END-POINT        29878.8769    4961.7415    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29878.8769    4961.7415    21204.0075    100.0000  FL
    END-POINT        29878.8769    4961.7415    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29878.8769    4961.7415    21204.0075    100.0000
    END-POINT        29878.8769    4961.7415    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        29880.2185    4959.0583    21204.0075    100.0000
    END-POINT        29880.2185    4959.0583    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          30005.2185    4538.4515    21204.0075
    TEXT Induction Bend
PIPE
    END-POINT        30005.2185    4538.4515    21204.0075    100.0000
    END-POINT        30005.2185    4661.8447    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        30005.2185    4661.8447    21204.0075    100.0000
    END-POINT        29984.1039    4751.2874    21204.0075    100.0000
    CENTRE-POINT     30005.2185    4709.0583    21204.0075
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   2657
    BEND-RADIUS  200.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  1.483672
PIPE
    END-POINT        29984.1039    4751.2874    21204.0075    100.0000
    END-POINT        29880.2185    4959.0583    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          29880.2185    4959.0583    21204.0075
FLANGE
    END-POINT        29880.2185    4959.0583    21204.0075    100.0000  FL
    END-POINT        29880.2185    4959.0583    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29944.6434    10752.0633    19045.0062    100.0000
    END-POINT        29944.6434    10752.0633    19045.0062    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        29944.6434    10752.0633    19045.0062    100.0000
    END-POINT        29947.6434    10752.0633    19045.0062    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        29944.6434    10752.0633    19045.0062    100.0000  FL
    END-POINT        29944.6434    10752.0633    19045.0062    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
FLANGE
    END-POINT        29947.6434    10752.0633    19045.0062    100.0000  FL
    END-POINT        29947.6434    10752.0633    19045.0062    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        29947.6434    10752.0633    19045.0062    100.0000
    END-POINT        29947.6434    10752.0633    19045.0062    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          29947.6434    10752.0633    19045.0062
    TEXT Induction Bend
PIPE
    END-POINT        29947.6434    10752.0633    19045.0062    100.0000
    END-POINT        30034.0682    10752.0633    19045.0062    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        30034.0682    10752.0633    19045.0062    100.0000
    END-POINT        30134.0682    10652.0633    19045.0062    100.0000
    CENTRE-POINT     30134.0682    10752.0633    19045.0062
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        30134.0682    10652.0633    19045.0062    100.0000
    END-POINT        30134.0682    10452.0633    19045.0062    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          30134.0682    10452.0633    19045.0062
INDUCTION-START
    CO-ORDS          30402.2185    4309.0583    10321.0973
    TEXT Induction Bend
PIPE
    END-POINT        30402.2185    4309.0583    10321.0973    100.0000
    END-POINT        30105.2185    4309.0583    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        30105.2185    4309.0583    10321.0973    100.0000
    END-POINT        30005.2185    4309.0583    10421.0973    100.0000
    CENTRE-POINT     30005.2185    4309.0583    10321.0973
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        30005.2185    4309.0583    10421.0973    100.0000
    END-POINT        30005.2185    4309.0583    11201.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          30005.2185    4309.0583    11201.0075
WELD
    END-POINT        30005.2185    4309.0583    11201.0075    100.0000
    END-POINT        30005.2185    4309.0583    11201.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        30005.2185    4309.0583    11201.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    11201.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        30005.2185    4309.0583    11201.0075    100.0000
    END-POINT        30005.2185    4309.0583    11204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        30005.2185    4309.0583    11204.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    11204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        30005.2185    4309.0583    11204.0075    100.0000
    END-POINT        30005.2185    4309.0583    11204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        30005.2185    4309.0583    13701.0075    100.0000
    END-POINT        30005.2185    4309.0583    11204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        30005.2185    4309.0583    13701.0075    100.0000
    END-POINT        30005.2185    4309.0583    13701.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        30005.2185    4309.0583    13701.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    13701.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        30005.2185    4309.0583    13704.0075    100.0000
    END-POINT        30005.2185    4309.0583    13701.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        30005.2185    4309.0583    13704.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    13704.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        30005.2185    4309.0583    13704.0075    100.0000
    END-POINT        30005.2185    4309.0583    13704.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        30005.2185    4309.0583    16204.0075    100.0000
    END-POINT        30005.2185    4309.0583    13704.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        30005.2185    4309.0583    16204.0075    100.0000
    END-POINT        30005.2185    4309.0583    16204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        30005.2185    4309.0583    16204.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    16204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        30005.2185    4309.0583    16204.0075    100.0000
    END-POINT        30005.2185    4309.0583    16207.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        30005.2185    4309.0583    16207.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    16207.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        30005.2185    4309.0583    16207.0075    100.0000
    END-POINT        30005.2185    4309.0583    16207.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        30005.2185    4309.0583    18704.0075    100.0000
    END-POINT        30005.2185    4309.0583    16207.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        30005.2185    4309.0583    18704.0075    100.0000
    END-POINT        30005.2185    4309.0583    18704.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        30005.2185    4309.0583    18704.0075    100.0000
    END-POINT        30005.2185    4309.0583    18707.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        30005.2185    4309.0583    18707.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    18707.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        30005.2185    4309.0583    18707.0075    100.0000
    END-POINT        30005.2185    4309.0583    18707.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        30005.2185    4309.0583    20704.0075    100.0000
    END-POINT        30005.2185    4309.0583    18707.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
FLANGE
    END-POINT        30005.2185    4309.0583    18704.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    18704.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        30005.2185    4309.0583    20704.0075    100.0000
    END-POINT        30005.2185    4309.0583    20704.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        30005.2185    4309.0583    20704.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    20704.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        30005.2185    4309.0583    20704.0075    100.0000
    END-POINT        30005.2185    4309.0583    20707.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        30005.2185    4309.0583    20707.0075    100.0000  FL
    END-POINT        30005.2185    4309.0583    20707.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        30005.2185    4309.0583    20707.0075    100.0000
    END-POINT        30005.2185    4309.0583    20707.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          30005.2185    4309.0583    20707.0075
    TEXT Induction Bend
PIPE
    END-POINT        30005.2185    4309.0583    20707.0075    100.0000
    END-POINT        30005.2185    4309.0583    21104.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        30005.2185    4309.0583    21104.0075    100.0000
    END-POINT        30005.2185    4409.0583    21204.0075    100.0000
    CENTRE-POINT     30005.2185    4309.0583    21204.0075
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        30005.2185    4409.0583    21204.0075    100.0000
    END-POINT        30005.2185    4535.4515    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          30005.2185    4535.4515    21204.0075
WELD
    END-POINT        30005.2185    4535.4515    21204.0075    100.0000
    END-POINT        30005.2185    4535.4515    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        30005.2185    4535.4515    21204.0075    100.0000
    END-POINT        30005.2185    4538.4515    21204.0075    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        30005.2185    4535.4515    21204.0075    100.0000  FL
    END-POINT        30005.2185    4535.4515    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
FLANGE
    END-POINT        30005.2185    4538.4515    21204.0075    100.0000  FL
    END-POINT        30005.2185    4538.4515    21204.0075    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        30005.2185    4538.4515    21204.0075    100.0000
    END-POINT        30005.2185    4538.4515    21204.0075    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
WELD
    END-POINT        30134.0682    10452.0633    19045.0062    100.0000
    END-POINT        30134.0682    10452.0633    19045.0062    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        30134.0682    10452.0633    19045.0062    100.0000  FL
    END-POINT        30134.0682    10452.0633    19045.0062    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
MESSAGE-ROUND
    CO-ORDS          30134.0682    10452.0633    19045.0062
    TEXT  E1$SEA@WATER@FEED@INLET
    UNDIMENSIONED
GASKET
    END-POINT        30405.2185    4309.0583    10321.0973    100.0000
    END-POINT        30402.2185    4309.0583    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        30402.2185    4309.0583    10321.0973    100.0000  FL
    END-POINT        30402.2185    4309.0583    10321.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        30402.2185    4309.0583    10321.0973    100.0000
    END-POINT        30402.2185    4309.0583    10321.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          32205.2185    4706.0583    10321.0973
    TEXT Induction Bend
PIPE
    END-POINT        32205.2185    4706.0583    10321.0973    100.0000
    END-POINT        32205.2185    4409.0583    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        32205.2185    4409.0583    10321.0973    100.0000
    END-POINT        32105.2185    4309.0583    10321.0973    100.0000
    CENTRE-POINT     32205.2185    4309.0583    10321.0973
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        32105.2185    4309.0583    10321.0973    100.0000
    END-POINT        30405.2185    4309.0583    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          30405.2185    4309.0583    10321.0973
WELD
    END-POINT        30405.2185    4309.0583    10321.0973    100.0000
    END-POINT        30405.2185    4309.0583    10321.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        30405.2185    4309.0583    10321.0973    100.0000  FL
    END-POINT        30405.2185    4309.0583    10321.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        32205.2185    4709.0583    10321.0973    100.0000
    END-POINT        32205.2185    4706.0583    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        32205.2185    4706.0583    10321.0973    100.0000  FL
    END-POINT        32205.2185    4706.0583    10321.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        32205.2185    4706.0583    10321.0973    100.0000
    END-POINT        32205.2185    4706.0583    10321.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        32205.2185    4709.0583    10321.0973    100.0000
    END-POINT        32205.2185    6806.0583    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        32205.2185    4709.0583    10321.0973    100.0000
    END-POINT        32205.2185    4709.0583    10321.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        32205.2185    4709.0583    10321.0973    100.0000  FL
    END-POINT        32205.2185    4709.0583    10321.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        32205.2185    6809.0583    10321.0973    100.0000
    END-POINT        32205.2185    6806.0583    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        32205.2185    6806.0583    10321.0973    100.0000  FL
    END-POINT        32205.2185    6806.0583    10321.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        32205.2185    6806.0583    10321.0973    100.0000
    END-POINT        32205.2185    6806.0583    10321.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        32205.2185    6809.0583    10321.0973    100.0000
    END-POINT        32205.2185    8279.8258    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        32205.2185    6809.0583    10321.0973    100.0000
    END-POINT        32205.2185    6809.0583    10321.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        32205.2185    6809.0583    10321.0973    100.0000  FL
    END-POINT        32205.2185    6809.0583    10321.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
INDUCTION-START
    CO-ORDS          32205.2185    8682.8258    9924.0973
    TEXT Induction Bend
PIPE
    END-POINT        32205.2185    8682.8258    9924.0973    100.0000
    END-POINT        32205.2185    8682.8258    10221.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        32205.2185    8682.8258    10221.0973    100.0000
    END-POINT        32205.2185    8582.8258    10321.0973    100.0000
    CENTRE-POINT     32205.2185    8682.8258    10321.0973
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
PIPE
    END-POINT        32205.2185    8582.8258    10321.0973    100.0000
    END-POINT        32205.2185    8282.8258    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
INDUCTION-END
    CO-ORDS          32205.2185    8282.8258    10321.0973
WELD
    END-POINT        32205.2185    8282.8258    10321.0973    100.0000
    END-POINT        32205.2185    8282.8258    10321.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        32205.2185    8282.8258    10321.0973    100.0000  FL
    END-POINT        32205.2185    8282.8258    10321.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        32205.2185    8282.8258    10321.0973    100.0000
    END-POINT        32205.2185    8279.8258    10321.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        32205.2185    8279.8258    10321.0973    100.0000  FL
    END-POINT        32205.2185    8279.8258    10321.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        32205.2185    8279.8258    10321.0973    100.0000
    END-POINT        32205.2185    8279.8258    10321.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        32205.2185    8682.8258    9921.0973    100.0000
    END-POINT        32205.2185    8682.8258    8638.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        32205.2185    8682.8258    9921.0973    100.0000
    END-POINT        32205.2185    8682.8258    9921.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        32205.2185    8682.8258    9921.0973    100.0000  FL
    END-POINT        32205.2185    8682.8258    9921.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
GASKET
    END-POINT        32205.2185    8682.8258    9921.0973    100.0000
    END-POINT        32205.2185    8682.8258    9924.0973    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        32205.2185    8682.8258    9924.0973    100.0000  FL
    END-POINT        32205.2185    8682.8258    9924.0973    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        32205.2185    8682.8258    9924.0973    100.0000
    END-POINT        32205.2185    8682.8258    9924.0973    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        32205.2185    8682.8258    8635.0027    100.0000
    END-POINT        32205.2185    8682.8258    8335.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
WELD
    END-POINT        32205.2185    8682.8258    8635.0027    100.0000
    END-POINT        32205.2185    8682.8258    8635.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        32205.2185    8682.8258    8635.0027    100.0000
    END-POINT        32205.2185    8682.8258    8638.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-17634
    ITEM-DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    ERECTION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_NONMETALLIC
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_GASKET
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
FLANGE
    END-POINT        32205.2185    8682.8258    8638.0027    100.0000  FL
    END-POINT        32205.2185    8682.8258    8638.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        32205.2185    8682.8258    8638.0027    100.0000
    END-POINT        32205.2185    8682.8258    8638.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        32205.2185    8682.8258    8635.0027    100.0000  FL
    END-POINT        32205.2185    8682.8258    8635.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
WELD
    END-POINT        32205.2185    8682.8258    8335.0027    100.0000
    END-POINT        32205.2185    8682.8258    8335.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
INDUCTION-START
    CO-ORDS          32734.7767    8682.8258    8235.0027
    TEXT Induction Bend
PIPE
    END-POINT        32734.7767    8682.8258    8235.0027    100.0000
    END-POINT        32305.2185    8682.8258    8235.0027    100.0000
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  16
BEND
    END-POINT        32305.2185    8682.8258    8235.0027    100.0000
    END-POINT        32205.2185    8682.8258    8335.0027    100.0000
    CENTRE-POINT     32205.2185    8682.8258    8235.0027
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19319
    ITEM-DESCRIPTION  PIPE BEND, PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  100.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE BEND
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  2.513274
INDUCTION-END
    CO-ORDS          32205.2185    8682.8258    8335.0027
WELD
    END-POINT        32734.7767    8682.8258    8235.0027    100.0000
    END-POINT        32734.7767    8682.8258    8235.0027    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        32734.7767    8682.8258    8235.0027    100.0000  FL
    END-POINT        32734.7767    8682.8258    8235.0027    100.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18375
    ITEM-DESCRIPTION  FLANGE, 10K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN100, 10K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10
    WEIGHT  3.14
START-CO-ORDS      32734.7767          8682.8258          8235.0027
MATERIALS
ITEM-CODE  CONSTANTIA_Rev0-19319
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-100
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  CONSTANTIA_Rev0-18375
    DESCRIPTION  FLANGE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  STEEL
    ShortDescription  FLANGE DN100, 10K, JIS
ITEM-CODE  CONSTANTIA_Rev0-17634
    DESCRIPTION  GASKET, NONMETALLIC, FULL FACE, 10K, JIS
    Schedule  
    PressureClass  10
    Material  NONMETALLIC
    ShortDescription  GASKET