ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    HYD_01
    DATE-DMY 03/21/22
    ATTRIBUTE1  
    ATTRIBUTE2  HYD_01
    PROJECT-IDENTIFIER  
    REVISION  0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          19900.0000    16400.0000    27555.6575
INDUCTION-START
    CO-ORDS          19900.0000    16400.0000    27555.6575
    TEXT Induction Bend
BEND
    END-POINT        19900.0000    16400.0000    27555.6575    250.0000
    END-POINT        20150.0000    16400.0000    27805.6575    250.0000
    CENTRE-POINT     19900.0000    16400.0000    27805.6575
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        20400.0000    16400.0000    24748.6774    250.0000
    END-POINT        20400.0000    16400.0000    27555.6575    250.0000
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        20400.0000    16400.0000    27555.6575    250.0000
    END-POINT        20150.0001    16400.0000    27805.6575    250.0000
    CENTRE-POINT     20400.0001    16400.0000    27805.6575
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
BEND
    END-POINT        20400.0000    16400.0000    24748.6774    250.0000
    END-POINT        20400.0000    16150.0000    24498.6774    250.0000
    CENTRE-POINT     20400.0000    16400.0000    24498.6774
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        20400.0000    13840.2298    24498.6774    250.0000
    END-POINT        20400.0000    16150.0000    24498.6774    250.0000
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        20400.0000    13840.2298    24498.6774    250.0000
    END-POINT        20400.0000    13610.8409    24348.0792    250.0000
    CENTRE-POINT     20400.0000    13676.1001    24498.6774
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   6657
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  17.19595
PIPE
    END-POINT        20400.0000    13558.8353    24228.0663    250.0000
    END-POINT        20400.0000    13610.8409    24348.0792    250.0000
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
PIPE
    END-POINT        30069.6195    10077.6527    23748.6774    250.0000
    END-POINT        30069.6195    10077.6527    21540.0710    250.0000
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        30069.6195    10077.6527    23748.6774    250.0000
    END-POINT        30069.6195    10327.6527    23998.6774    250.0000
    CENTRE-POINT     30069.6195    10077.6527    23998.6774
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        29819.6195    10577.6527    23998.6774    250.0000
    END-POINT        25304.8844    10577.6527    23998.6774    250.0000
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        29819.6195    10577.6527    23998.6774    250.0000
    END-POINT        30069.6195    10327.6527    23998.6774    250.0000
    CENTRE-POINT     30069.6195    10577.6527    23998.6774
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
BEND
    END-POINT        25304.8844    10577.6527    23998.6774    250.0000
    END-POINT        25054.8844    10827.6527    23998.6774    250.0000
    CENTRE-POINT     25054.8844    10577.6527    23998.6774
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        25054.8844    10827.6527    23998.6774    250.0000
    END-POINT        25054.8844    13209.4334    23998.6774    250.0000
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        25054.8844    13209.4334    23998.6774    250.0000
    END-POINT        24804.8844    13459.4334    23998.6774    250.0000
    CENTRE-POINT     25054.8844    13459.4334    23998.6774
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
PIPE
    END-POINT        24804.8844    13459.4334    23998.6774    250.0000
    END-POINT        20650.0000    13459.4334    23998.6774    250.0000
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  59.2
BEND
    END-POINT        20650.0000    13459.4334    23998.6774    250.0000
    END-POINT        20400.0000    13558.8353    24228.0663    250.0000
    CENTRE-POINT     20400.0000    13459.4334    23998.6774
    SKEY  PB
    ITEM-CODE  CONSTANTIA_Rev0-19327
    ITEM-DESCRIPTION  PIPE, SCH 40, JIS
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  250.0000
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_PIPE
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  23.247786
INDUCTION-END
    CO-ORDS          30069.6195    10077.6527    21540.0710
WELD
    END-POINT        30069.6195    10077.6527    21540.0710    250.0000
    END-POINT        30069.6195    10077.6527    21540.0710    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_Buttweld
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        30069.6195    10077.6527    21540.0710    250.0000  FL
    END-POINT        30069.6195    10077.6527    21540.0710    250.0000  BW
    SKEY  FLBL
    ITEM-CODE  CONSTANTIA_Rev0-18327
    ITEM-DESCRIPTION  FLANGE, 5K, JIS
    FABRICATION-ITEM
    PIPING-SPEC  CONSTANTIA_Rev0
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_STEEL
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_ShortDescription_FLANGE DN250, 5K, JIS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_5
    WEIGHT  9.45
MATERIALS
ITEM-CODE  CONSTANTIA_Rev0-19327
    DESCRIPTION  PIPE, SCH 40, JIS
    Schedule  40
    PressureClass  
    Material  STEEL
    ShortDescription  PIPE
ITEM-CODE  Buttweld-250
    Schedule  
    PressureClass  
    Material  
    ShortDescription  Buttweld
ITEM-CODE  CONSTANTIA_Rev0-18327
    DESCRIPTION  FLANGE, 5K, JIS
    Schedule  
    PressureClass  5
    Material  STEEL
    ShortDescription  FLANGE DN250, 5K, JIS